@import "tailwindcss";
@import "tw-animate-css";

@font-face {
  font-family: 'InterDisplay';
  src: url('./assets/font/InterDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {    
  font-family: 'InterDisplay';
  src: url('./assets/font/InterDisplay-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {    
  font-family: 'InterDisplay';
  src: url('./assets/font/InterDisplay-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

* {
  font-family: 'InterDisplay', sans-serif;
}


@custom-variant dark (&:is(.dark *));
:root {
  font-family: 'InterDisplay', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --radius: 0.625rem;
  --background: #030014;
  --foreground: oklch(0.145 0 0);
  --card:#1A123A;
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: #9B87F5;
  --primary-foreground: oklch(0.985 0 0);
  --secondary: #4FD1C5;
  --secondary-foreground: oklch(0.205 0 0);
  --muted: #D9DADF;
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: #EC4899;
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --gradient-primary: linear-gradient(90deg, #9B87F5 0%, #56C9C9 100%);
  --gradient-secondary: linear-gradient(90deg, #4FD1C5 0%, #286B65 100%);
  --gradient-secondary-linear: linear-gradient(0deg, #4FD1C5, #4FD1C5);
  --gradient-primary-linear: linear-gradient(90deg, #948FF0 0%, #55528A 100%);
}


@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
  --background: #030014;
  --foreground: oklch(0.985 0 0);
  --card: #202738;
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: #9B87F5;
  --primary-foreground: oklch(0.205 0 0);
  --secondary: #4FD1C5;
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: #EC4899;
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer utilities {
  .font-roboto-light {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
  
  .font-roboto-light-italic {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .font-roboto-regular {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }
  
  .font-roboto-italic {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .font-roboto-medium {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
  }
  
  .font-roboto-medium-italic {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .font-roboto-bold {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
  }
  
  .font-roboto-bold-italic {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .font-gugi {
    font-family: 'Gugi', cursive;
  }
  .btn-white {
    background: #fff;
  }
  
  .text-gradient-primary {
    background: var(--gradient-primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  .text-gradient-secondary {
    background: var(--gradient-secondary);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .text-gradient-secondary-linear {
    background: var(--gradient-secondary-linear);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .bg-gradient-primary {
    background: var(--gradient-primary);
  }

  .bg-gradient-secondary {
    background: var(--gradient-secondary);
  }
  .bg-gradient-primary-linear {
    background: var(--gradient-primary-linear);
  }
  .bg-gradient-secondary-linear {
    background: var(--gradient-secondary-linear);
  }
}

.shadow-primary {
  box-shadow: 0 0 2px 0 #9B87F580;
}
.shadow-secondary {
  box-shadow: 0 0 9px 0 #4FD1C580;
}


@layer base {
  :root {
    --background: 030014.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: #1A123A;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 182 79% 56%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 172 100% 32%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 60.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 030014.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer components {
  .shadow-primary {
    box-shadow: 0px 0px 20px rgba(79, 209, 197, 0.25);
  }

  .bg-gradient-primary {
    background: linear-gradient(90deg, #988AF3 0%, #56C9C9 100%);

  }

  .bg-gradient-primary-linear {
    background: linear-gradient(270deg, #4FD1C5 0%, #5D5FEF 100%);
  }

  .bg-gradient-primary-button {
    background: linear-gradient(to right, #4FD1C5, #5D5FEF);
  }

  .bg-gradient-secondary {
    background: linear-gradient(90deg, #4FD1C5 1.25%, #5D5FEF 100%);
  }
  .bg-gradient-danger {
    background: linear-gradient(90deg, #EC4899 2.88%, #88345D 100%);
  }
  
  .bg-gradient-see-green {
    background: linear-gradient(90deg, #4ECDC1 0%, #2A6F69 100%);
  }
  .bg-gradient-peach {
    background: linear-gradient(90deg, #EA4798 0%, #8A345E 100%);
  }
  .bg-gradient-blue {
    background: linear-gradient(90deg, #8F8BE9 0%, #58558F 100%);
  }
  

  .text-gradient-primary {
    background: linear-gradient(90deg, #4FD1C5 0%, #5D5FEF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  .text-gradient-primary-linear {
    background: linear-gradient(90deg, #56C9C9 0%, #988AF3 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  .text-gradient-white {
    background: linear-gradient(90deg, #ffffff 50%, #4FD1C5 180%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .text-gradient-secondary-linear {
    background: linear-gradient(90deg, #4FD1C5 1.25%, #00ED64 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  
  .bg-gradient-primary\/50 {
    background: linear-gradient(to right, rgba(138, 43, 226, 0.5), rgba(79, 209, 197, 0.5));
  }

  .bg-gradient-primary-linear\/50 {
    background: linear-gradient(270deg, rgba(79, 209, 197, 0.5) 0%, rgba(93, 95, 239, 0.5) 100%);
  }

  .bg-gradient-secondary\/50 {
    background: linear-gradient(90deg, rgba(79, 209, 197, 0.5) 1.25%, rgba(93, 95, 239, 0.5) 100%);
  }
  .gradient-bottom-border {
    border-bottom: 1px solid transparent;
    border-image-source: linear-gradient(90deg, #988AF3 0%, #56C9C9 100%);
    border-image-slice: 1;
  }
  .gradient-bottom-left-border {
    border-left: 4px solid transparent;
    border-image-source: linear-gradient(90deg, #8F8BE9 0%, #58558F 100%);
    border-image-slice: 1;
  }
  .gradient-primary-dark {
    background: linear-gradient(90deg, #5C5996 0%, #030014 100%);
  }
  .bg-gradient-primary-dark {
    background: linear-gradient(90deg, #8F8BE9 0%, #58558F 100%);
  }
  .bg-gradient-secondary-dark {
    background: linear-gradient(90deg, #4ECDC1 0%, #2A6F69 100%);
  }
  .bg-gradient-danger-dark {
    background: linear-gradient(90deg, #EA4798 0%, #8A345E 100%);
  }
}



/* Animate.css utility classes */
@layer utilities {
  /* Entrance animations */
  .animate-fade-in {
    animation: fadeIn 1s;
  }
  
  .animate-fade-in-up {
    animation: fadeInUp 1s;
  }
  
  .animate-fade-in-down {
    animation: fadeInDown 1s;
  }
  
  .animate-fade-in-left {
    animation: fadeInLeft 1s;
  }
  
  .animate-fade-in-right {
    animation: fadeInRight 1s;
  }
  
  .animate-zoom-in {
    animation: zoomIn 1s;
  }
  
  /* Attention seekers */
  .animate-pulse {
    animation: pulse 2s infinite;
  }
  
  .animate-flash {
    animation: flash 2s infinite;
  }
  
  .animate-bounce {
    animation: bounce 2s infinite;
  }
  
  .animate-rubber-band {
    animation: rubberBand 1s;
  }
  
  .animate-shake {
    animation: shakeX 1s;
  }
  
  .animate-headshake {
    animation: headShake 1s;
  }
  
  /* Animation speeds */
  .animate-faster {
    animation-duration: 0.5s;
  }
  
  .animate-fast {
    animation-duration: 0.8s;
  }
  
  .animate-slow {
    animation-duration: 2s;
  }
  
  .animate-slower {
    animation-duration: 3s;
  }
  
  /* Animation delays */
  .animate-delay-1 {
    animation-delay: 0.2s;
  }
  
  .animate-delay-2 {
    animation-delay: 0.4s;
  }
  
  .animate-delay-3 {
    animation-delay: 0.6s;
  }
  
  .animate-delay-4 {
    animation-delay: 0.8s;
  }
  
  .animate-delay-5 {
    animation-delay: 1s;
  }
  
  /* Animation repetition */
  .animate-repeat-1 {
    animation-iteration-count: 1;
  }
  
  .animate-repeat-2 {
    animation-iteration-count: 2;
  }
  
  .animate-repeat-3 {
    animation-iteration-count: 3;
  }
  
  .animate-infinite {
    animation-iteration-count: infinite;
  }
}
.font-inter-normal {
  font-family: 'InterDisplay ', sans-serif;
  font-weight: 400;
}

.font-inter-bold {
  font-family: 'InterDisplay', sans-serif;
  font-weight: 700;
}

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.roboto {
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.roboto-500 {
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.bg-cover-img {
  background-image: url('./assets/cover-bg.png');
}


.gradient-border {
  background: linear-gradient(90deg, #988AF3 0%, #56C9C9 100%);
  border-radius: 52px;  
  padding: 1px;
  display: inline-block;
}

.gradient-border-inner{
  background: #1A123A;
  border-radius: 52px;
  width: 100%;
  height: 100%;
  padding: 8px 28px 12px 28px;
}
.secondary-gradient-border {
  background: linear-gradient(180deg, #56C9C9 0%, #030014 100%);
  border-radius: 24px;
  padding: 1px;
  display: inline-block;
}
.secondary-gradient-border-inner {
  background: linear-gradient(180deg, #1A123A 0%, #040115 100%);
  border-radius: 24px;
  width: 100%;
  height: 100%;
}
.video-bg {
  background: linear-gradient(180deg, #1A123A 0%, #040115 100%);
}
.insurance-bg {
  background: linear-gradient(90deg, #1A123A 0%, #040115 100%);
}

.ripple   { 
  background: linear-gradient(90deg, rgba(152, 138, 243, 0.08) 0%, rgba(86, 201, 201, 0.08) 100%);
  animation: ripple-expand 1.5s linear infinite;
}
.ripple-inner  {
  background: linear-gradient(90deg, rgba(152, 138, 243, 0.2) 0%, rgba(86, 201, 201, 0.2) 100%);
  animation:ripple-expand 1.5s linear infinite;
  
}
.bg-community-1 {
  background: url('./assets/backgrounds/community-1.png') no-repeat center center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bg-community-2 {
  background: url('./assets/backgrounds/community-2.png') no-repeat center center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@keyframes ripple-expand {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(.95);
  }
  50% {
    transform: scale(.9);
  }
  75% { 
    transform: scale(.95);
  }
  100% {
    transform: scale(1);
  }
}
